*{
	
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	ul li{
		 float: left;
	}
	
	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 20px 26px;
	  text-decoration: none;
	}

	li a:hover:not(.active) {
	  background-color: #111;
	}

	.active {
	  background-color: #116d15;
	}



li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7e7e7;;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



/* THIS AREA IS FOR THE CONTACT STYLE */
	div i{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;

	}



/* This is the style for the Gallery pic*/
	div.gallery {
	  margin: 10px;
	  border: 1px solid #ccc;
	  float: left;
	  width: 250px;
	}

	div.gallery:hover {
	  border: 1px solid #777;
	}

	div.gallery img {
	  width: 100%;
	  height: center;
	}
	





	

	